header{
    color: black;
    background-color: rgb(25, 130, 205);
    word-spacing: 50px;
    position: absolute;
}
img{
    width: 100%;
}
.header-left{
    width: 50%;
    margin: 20px;
}
.img1{
    width: 50%;
    float: left;
}